.SlidingNews {
  display: flex;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  overflow: hidden;
}

.SlidingNews_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  background: #eeeeee;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px;
  animation: slideAnimation 30s infinite linear;
  transition: 0.4s;
}

.SlidingNews_container.light {
  background: #ffffff;
  box-shadow: 0 0 10px #555555;
}

.SlidingNews_container:hover {
  transform: scale(1.1);
}

.SlidingNews:hover .SlidingNews_container {
  animation-play-state: paused;
}

@keyframes slideAnimation {
  0% {
    right: 0;
  }
  100% {
    right: calc(180px * 10);
  }
}

.SlidingNews_container div:first-child {
  width: 100px;
}

.SlidingNews_container div:last-child {
  width: 60px;
}

.SlidingNews_container img {
  width: 100%;
  height: auto;
  max-height: 60px;
}

.SlidingNews_container p {
  font-size: 0.8rem;
  margin: 5px 0 5px 7px;
}

.SlidingNews_change {
  color: #00ff00;
}

.SlidingNews_change.negative {
  color: #ff0000;
}
